.home-page {
    text-align: center;
    padding: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;     /* Center the buttons vertically */
    height: 100vh;           /* Full viewport height */
    gap: 20px;               /* Gap between the buttons */
}
  .navigate-button-new {
    background-color: rgb(255, 209, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    margin: 10px;
  }

  .navigate-button-old {
    background-color: rgb(255, 209, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    margin: 10px;
  }
  
  .navigate-button:hover {
    background-color: #0056b3;
  }
  