.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 40, 30);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .top-bar h1 {
    margin: 0;
  }
  
  .home-icon {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  